{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<h1 style="font-style: italic;">Profil : {{userr.username}}</h1>
    <div id="profil1" style="display: flex; font-size: 29px; font-weight: bold; padding:5px ;color:#52528d">
      
       <p style="margin-left:800px ;">Following :{{following_nbr}}</p>
       <p style="margin-left:400px ;">Followers : {{follower_nbr}}</p>
      
      </div>
       {% if others != userr %}
       <div style="display: flex ; margin: 20px;">
        <form action="{% url 'follow' userr %}" method="POST" style="margin-right: 50px;">
            {% csrf_token %}
           
            <button type="submit" class="btn btn-outline-danger">follow</button>
            </form>
            <form action="{% url 'unfollow' userr %}" method="POST">
              {% csrf_token %}
             
              <button type="submit" class="btn btn-outline-danger">Unfollow</button>
              </form>
       </div>
       {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
      {% endif %}
       {% endif %}
       
    
    
        <h1>Posts </h1>
        {% for post in page_obj %}
        {# Each "post" is a Post model object. #}
              <div id="post-{{post.id}}" class="post ">
          
                <b style="font-size: 1.5em; margin-right: 1400px;"><a href="{%url 'profil' post.user %}" >{{post.user}} </a></b>
                <b> <p>{{post.timestamp}}</p></b>
                <p id="p-{{post.id}}" style="font-size: 20px;">{{post.content}}</p>
               
                <p style="font-size: 18px;">Like :
                  <button id="like-{{post.id}}" class="like" data-post-id="{{post.id}}">{{post.like}}</button></p>
            {% if others == userr %}
            <button class="edit btn btn-primary " data-post-id="{{post.id}}" style="font-size: 1.5em ;">Edit</button>
            <div id="edit_post-{{post.id}}"  style="display: none;">
              <h2>edit post</h2>
              <form id="form_edit-{{post.id}}" method="post">
                {% csrf_token %}               
                <div class="input-group">
                  <span class="input-group-text" for="content">Content : </span>
                  <textarea class="form-control" aria-label="With textarea" id="content-{{post.id}}" name="content" placeholder="share what you want with your friends" required></textarea>
                </div>
                 
                
                  <br>
                  <input class=" d-md-flex justify-content-md-end btn-lg"  id ="update" type="submit" value="update" >
              </form>
          </div>
            {% endif %}
        </div>
        <br>
         {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
             
                {% if page_obj.has_previous %}
                <li ><a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">{{page_obj.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link " aria-disabled="true">Previous</span></li>
                {% endif %}
              
              
    
              <li class="page-item active"><a class="page-link" href="?page={{page_obj}}">{{page_number}}</a></li>
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page=3">{{page_obj.next_page_number  }}</a></li>
              
                
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% else %}
                <li class="page-item disabled"><span class="page-link page-item disabled" aria-disabled="true">Next</span>
                {% endif %}
              </li>
            </ul>
          </nav>
    </div>

    {% block script %}
    <script src="{% static 'network/index.js' %}"></script>
   {% endblock %}
{% endblock %}