{% extends "network/layout.html" %}
{% load static %}
{% block body %}
   <h1>Profil : {{user.username}}</h1>
    <div id="profil1">
       <p>{{user.username}}</p>
       <p>Following :{{following_nbr}}</p>
       <p>followers : {{follower_nbr}}</p>
       {% if others != userr %}
       <div>
        <form action="{% url 'follow' userr %}" method="POST">
            {% csrf_token %}
           
            <button type="submit" class="btn btn-outline-danger">follow</button>
            </form>
       </div>
       {% endif %}
       
    </div>
    <div id ="post_user">
        <h2>Posts </h2>
        {% for post in page_obj %}
        {# Each "post" is a Post model object. #}
        <div id="post" class="post">
            <a href="{%url 'profil' post.user %}" >{{post.user}} </a>
            <p>{{post.content}}</p>
            <p>{{post.timestamp}}</p>
            <p> Like :
              <button id="like-{{post.id}}" class="like" data-post-id="{{post.id}}">{{post.like}}</button></p>
            {% if others == userr %}
            <button> edit</button>
            <div id="edit_post"  style="display: none;">
              <h2>edit post</h2>
              <form class="form_edit" method="post">
                {% csrf_token %}               
                  <label for="content">Content:</label>
                  <textarea id="content" name="content" required></textarea>
                  <br>
                  <input id ="update" type="submit" value="update" >
        
              </form>
          </div>
            {% endif %}
        </div>
        <br>
         {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
             
                {% if page_obj.has_previous %}
                <li ><a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">{{page_obj.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link " aria-disabled="true">Previous</span></li>
                {% endif %}
              
              
    
              <li class="page-item active"><a class="page-link" href="?page={{page_obj}}">{{page_number}}</a></li>
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page=3">{{page_obj.next_page_number  }}</a></li>
              
                
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% else %}
                <li class="page-item disabled"><span class="page-link page-item disabled" aria-disabled="true">Next</span>
                {% endif %}
              </li>
            </ul>
          </nav>
    </div>

    {% block script %}
    <script src="{% static 'network/index.js' %}"></script>
   {% endblock %}
{% endblock %}